{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <a class="btn btn-default" href="{{ path('organizations_index') }}">Организации</a>
        <a class="btn btn-default" href="{{ path('users_index') }}">Работники</a>
        <a class="btn btn-default" href="{{ path('app_import') }}">Импорт</a>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
